{% extends 'base/base.html' %}
{% load static %}

{% block title %}
  Simple Redirect
{% endblock title %}

{% block sub_title %}
  Simple Redirect
{% endblock sub_title %}

{% block heading %}
  Simple Redirect
{% endblock heading %}

{% block sub_heading %}
  Simple Redirect
{% endblock sub_heading %}

{% block menu_authentication %}
{% endblock menu_authentication %}

{% block footer %}
  <div class="legal pure-g">
    <div class="pure-u-1 pure-u-md-8-24">
      <div class="l-box">
        <a href="https://twitter.com/KB_Software_Ltd" target="_blank">
          <i class="fa fa-twitter fa-2x"></i>
        </a>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-8-24">
      <div class="l-box legal-logo">
        <a href="http://yuilibrary.com/" target="_blank">
          <img height="30" width="65" alt="YUI logo" src="{% static 'img/project/yui.png' %}">
        </a>
        <p class="legal-license">
          This site is built using
          <a href="http://purecss.io/" target="_blank">
            Yahoo Pure CSS
          </a>
        </p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-8-24">
      <div class="l-box">
        <ul class="legal-links pure-g">
          <li class="pure-u-1">
            For help and support, please contact
            <a href="https://www.kbsoftware.co.uk" target="_blank">
              KB Software Ltd
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock footer %}
